<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>美食</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>电影</string>
		<key>image</key>
		<string>icon_homepage_movieCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>酒店</string>
		<key>image</key>
		<string>icon_homepage_hotelCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>KTV</string>
		<key>image</key>
		<string>icon_homepage_KTVCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>优惠买单</string>
		<key>image</key>
		<string>icon_homepage_CouponCategory</string>
	</dict>
	<dict>
		<key>title</key>
		<string>周边游</string>
		<key>image</key>
		<string>icon_homepage_aroundjourneyCategory</string>
	</dict>
	<dict>
		<key>title</key>
		<string>外卖</string>
		<key>image</key>
		<string>icon_homepage_takeoutCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>丽人</string>
		<key>image</key>
		<string>icon_homepage_beautyCategory</string>
	</dict>
	<dict>
		<key>title</key>
		<string>休闲娱乐</string>
		<key>image</key>
		<string>icon_homepage_entertainmentCategory</string>
	</dict>
	<dict>
		<key>title</key>
		<string>今日新单</string>
		<key>image</key>
		<string>icon_homepage_dailyNewDealCategory</string>
	</dict>
	<dict>
		<key>title</key>
		<string>购物</string>
		<key>image</key>
		<string>icon_homepage_shoppingCategory</string>
	</dict>
	<dict>
		<key>title</key>
		<string>生活服务</string>
		<key>image</key>
		<string>icon_homepage_lifeServiceCategory</string>
	</dict>
	<dict>
		<key>title</key>
		<string>旅游</string>
		<key>image</key>
		<string>icon_homepage_travellingCategory</string>
	</dict>
	<dict>
		<key>title</key>
		<string>足疗按摩</string>
		<key>image</key>
		<string>icon_homepage_foottreatCategory</string>
	</dict>
	<dict>
		<key>title</key>
		<string>小吃快餐</string>
		<key>image</key>
		<string>icon_homepage_fastfoodCategory</string>
	</dict>
	<dict>
		<key>title</key>
		<string>全部分类</string>
		<key>image</key>
		<string>icon_homepage_moreCategory</string>
	</dict>
</array>
</plist>
